ul li{
    background: rgb(241, 229, 203);
    color:darkblue;
    display:inline-block;
    list-style-type: none;
    padding: 30px 45px;
    border-width:20px;
    border-radius: 5px;
    border:darkblue;
    font-family: 'Courier New', Courier, monospace;
    
}
li h2{
    font-family: 'Courier New', Courier, monospace;
}
.vl {
  border-left: 8px solid darkblue;
  height: 350px;
  display:inline-block;
}

input[type=text] {
    width: 300px;
    color:darkblue;
    background:#CCE6F4;
 }

 input[type=submit] {
     background:darkblue;
     color:rgb(241, 229, 203);
 }
 #messagebox{
     width:500px;
     height: 100px;
 }

 #contactsheet{
    position: absolute;
    top: 50px;
    right: 150px;

 }
